<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testsuite.common.TestSuite_About_UsPage"/>
      <class name="testsuite.common.TestSuite_HomePage"/>
      <class name="testsuite.common.TestSuite_UploadFilePage"/>
      <class name="testsuite.common.TestSuite_Common_Login"/>
      <class name="testsuite.common.TestSuite_MySubmissions"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
